<div class="main">
    <div class="header">
      <h1>Angular mat-horizontal-stepper</h1>
    </div>
  
    <mat-horizontal-stepper #cdkStepper [linear]="true">
      <mat-step [stepControl]="stepOne.stepOneForm" [optional]="false">
        <ng-template matStepLabel>
          <div class="step-bullet">1</div>
          <div class="step-title">Personal Details <span class="required">*</span></div>
        </ng-template>
        <app-stepper #stepOne></app-stepper>
      </mat-step>
  
      <mat-step [stepControl]="stepTwo.stepTwoForm" [optional]="true">
        <ng-template matStepLabel>
          <div class="step-bullet">2</div>
          <div class="step-title">Address</div>
        </ng-template>
        <app-stepper1 #stepTwo></app-stepper1>
      </mat-step>
  
      
     
    </mat-horizontal-stepper>
  </div>
  